version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: taskmaster-mongo
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo-data:/data/db
  backend:
    build: ./server
    container_name: taskmaster-backend
    restart: always
    ports:
      - "5001:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/taskmaster
      - JWT_SECRET=fcb02a41fddfd7506628726e8d0b14b7d2b4c755ec486b2567ae22384441f76df
    depends_on:
      - mongo
  frontend:
    build: ./client
    container_name: taskmaster-frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:5001
    depends_on:
      - backend
volumes:
  mongo-data:
